/************************************************************************
    GENERAL
************************************************************************/
body {
    margin: 0px;
    font-family: Verdana, Arial;
}

/************************************************************************
    HEADER
************************************************************************/
header {
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #808080;
    top: 0px;
}

header a {
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 25px;
    transition-duration: .2s;
}

header a:hover {
    color: #d0d0d0;
    transition-duration: .2s;
}

/************************************************************************
    MAIN
************************************************************************/
.section {
    width: 100%;
    text-align: center;
}

img {
    border-radius: 100%;
    margin: 25px;
}

hr {
    margin: 50px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
}

.button {
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 5px solid #0094ff;
    transition-duration: .2s;
    padding: 10px;
    background-color: #0094ff;
}

.button:hover {
    color: #0094ff;
    background-color: white;
    transition-duration: .2s;
}


.explanation {
    margin-top: 100px;
}

.explanation_text {
    color: #0063aa;
}

.application {
    margin-bottom: 100px;
}

/************************************************************************
    FOOTER
************************************************************************/
footer {
   height: 80px;
   width: 100%;
   background-color: #808080;
}

.footer_links {
    margin: 15px;
    float: right;
    width: 50px;
    height: 50px;
}

.footer_links:hover {
    opacity: .5;
}        

