/******************************************************************************************
* MAIN LAYOUT
******************************************************************************************/

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial;
}

.main_panel {
    background-color: blue;
    height: 100%;
    width: 65%;
    float: left;
}

.side_panel {
    background-color: red;
    width: 35%;
    height: 100%;
    float: left;
}

.side_panel_container {
    background-color: black;
    width: 100%;
    height:50%;
    float: left;
    overflow-y: auto;
}


/******************************************************************************************
* CALENDAR
******************************************************************************************/

/* MONTH TITLE */

.calendar_title_pane {
    background-color: #74acff;
    min-height: 50px;
    width: 100%;
}

.flex_calendar_title_container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex_calendar_title_item {
    background-color: #74acff;
    padding: 5px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.calendar_button {
    border-radius: 200px;
    width: 50px;
    height: 50px;
    background-color: #4a86e8;
    transition-duration: .5s;
}

div.calendar_button:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 10px 0px rgba(25,25,25,.8);
    transition-duration: .2s;    
}

div.calendar_button:active {
    transform: scale(.95, .95);
    transition-duration: -1s;    
}

/* CALENDAR BODY */

.flex_calendar_days_of_week_container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #7abf6c;
}

.flex_calendar_days_of_week_item {
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.flex_calendar_body_container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.flex_calendar_body_item {
    margin: 0;
    padding: 0;
    border: 1px green solid;
    background-color: white;
    font-weight: bold;
    font-size: 1.5em;
    width: 174.7px;
    height: 169px;
}

.calendar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 93.7%;
    background-color: lightgreen;
}


/******************************************************************************************
* MEAL LIST
******************************************************************************************/
.meal_list {
    background-color: #ffe7a6;
}

.flex-meal-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-meal-item {
    background-color: orange;
    padding: 5px;
    width: 125px;
    height: 125px;
    margin-top: 20px;  
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

li.flex-meal-item:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 15px 0px rgba(100,100,100,.8);
    transition-duration: .2s;    
}

/******************************************************************************************
* MEAL EDITOR
******************************************************************************************/
.meal_editor {
    background-color: #c5abe2;
    padding: 35px;
}

.ingredient_list {
    background-color: white;
    min-height: 100px;
    overflow-y: auto;
}
.flex-ingredient-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-ingredient-item {
    background: purple;
    padding: 5px;
    width: 100px;
    height: 20px;
    margin-top: 10px;  
    line-height: 35px;
    color: white;
    font-size: 1em;
    text-align: center;
}

.meal_editor_form {
}

.meal_editor_form_header {
    color: white;
    font-weight: bold;
}

.recipe_text_area {
    width: 350px;
}
