/************************************************************************
    ABOUT ME
************************************************************************/
.about_me_section {
    width: 100%;
    background-color: #0094ff;
    text-align: center;
}

.profile_pic {
    border: 10px solid #0063aa;
    border-radius: 100%;
    margin: 25px;
}

.about_me {
    color: white;
    padding: 25px;
    padding-top: 0px;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #4190c8
}

.body {
    text-align: center;
    font-size: 30px;
    color: #3e5470;
}

/************************************************************************
    PORTFOLIO
************************************************************************/
.portfolio_section {
    width: 100%;
    background-color: white;
    text-align: center;
    margin-bottom: 100px;
}

.portfolio {
    color: #0094ff;
    padding-left: 75px;
    padding-right: 75px;
}

.button {
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 5px solid #0063aa;
    transition-duration: .2s;
    padding: 10px;
    background-color: #0063aa;
    margin-right: 5px;
    margin-left: 5px;
}

.button:hover {
    color: #0063aa;
    background-color: white;
    transition-duration: .2s;
}

/************************************************************************
    FOOTER
************************************************************************/
footer {
   margin: 0 auto;
   height: 80px;
   width: 100%;
   background-color: #808080;
   position: fixed;
   bottom: 0;
}

.footer_links {
    margin: 15px;
    float: right;
    width: 50px;
    height: 50px;
}

.footer_links:hover {
    opacity: .5;
}        

/************************************************************************
    GENERAL
************************************************************************/
body {
    margin: 0px;
    font-family: Verdana, Arial;
}
