html { 
  background: url(great_outdoors_canada.jpg) no-repeat center center fixed;
  background-size: cover;
}

div.top_menu{
    background-color: rgba(255, 255, 255, 0.3);
    width:95%;
    height:150px;
    position: relative;
    margin:0 auto;
}

a.top_menu{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
}

li.top_menu_items{
    font-family:Tahoma;
}