body
{
    background-color: greenyellow;
}

th {
    font-weight : bold;
    background-color: green;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

td {
  padding: 2px 2px 2px 2px;
}
